<a href="https://colab.research.google.com/github/AarifSheikh-78603/Python-Workspace/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a Tuple

## Create an empty Tuple

In [ ]:
T1=()
T1

()

In [ ]:
T1=tuple()
T1

()

## Create a tuole with integer values

In [ ]:
T1=(1,2,3,4,5)
T1

(1, 2, 3, 4, 5)

In [ ]:
T1=tuple((1,2,3,4,5))
T1

(1, 2, 3, 4, 5)

## Create a tuple with string values

In [ ]:
T1=('a','b','c','d','e')
T1

('a', 'b', 'c', 'd', 'e')

In [ ]:
T1=tuple(('a','b','c','d','e'))
T1

('a', 'b', 'c', 'd', 'e')

## Create a tuple with mixed data

In [ ]:
T1=(1,'a',2,'b',3,'c')
T1

(1, 'a', 2, 'b', 3, 'c')

In [ ]:
T1=tuple((1,'a',2,'b',3,'c'))
T1

(1, 'a', 2, 'b', 3, 'c')

## Create tuple without parenthesis

In [ ]:
T1=10,20,30,40,50
T1

(10, 20, 30, 40, 50)

In [ ]:
type(T1)

tuple

# Accessing Values In Tuple

In [ ]:
Tuple1=(226, 164, 161, 173, 215, 156, 145, 135, 147)
Tuple1

(226, 164, 161, 173, 215, 156, 145, 135, 147)

## Access 1st element of the tuple

In [ ]:
Tuple1[0]

226

## Access last element of the tuple

In [ ]:
Tuple1[-1]

147

## Access specific index element of the tuple

In [ ]:
Tuple1[3]

173

## Access multiple elements

In [ ]:
Tuple1[2:5]

(161, 173, 215)

In [ ]:
Tuple1[2:]

(161, 173, 215, 156, 145, 135, 147)

In [ ]:
Tuple1[:2]

(226, 164)

# Updating Tuple

In [ ]:
Tuple1

(226, 164, 161, 173, 215, 156, 145, 135, 147)

## 'tuple' object does not support item assignment

In [ ]:
Tuple1[0]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
Tuple1

(226, 164, 161, 173, 215, 156, 145, 135, 147)

In [ ]:
List1=list(Tuple1)
List1

[226, 164, 161, 173, 215, 156, 145, 135, 147]

In [ ]:
List1[0]=100
List1

[100, 164, 161, 173, 215, 156, 145, 135, 147]

In [ ]:
Tuple2=tuple(List1)
Tuple2

(100, 164, 161, 173, 215, 156, 145, 135, 147)

#Tuple Operation

## Concatenation Operation

In [ ]:
T1=(1,2,3,4,5)
T1

(1, 2, 3, 4, 5)

In [ ]:
T2=('a','b','c','d','e')
T2

('a', 'b', 'c', 'd', 'e')

In [ ]:
T3=T1+T2
T3

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

## Repetition Operation

In [ ]:
T3*2

(1,
 2,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'd',
 'e',
 1,
 2,
 3,
 4,
 5,
 'a',
 'b',
 'c',
 'd',
 'e')

## Membership Function

In [ ]:
Tuple1

(226, 164, 161, 173, 215, 156, 145, 135, 147)

In [ ]:
156 in Tuple1

True

In [ ]:
256 in Tuple1

False

In [ ]:
for i in Tuple1:
  print(i)

226
164
161
173
215
156
145
135
147

# Build-in Functions & Methods of Tuple

In [ ]:
Tupl1=(226, 164, 161, 173, 215, 156, 145, 135, 147)
Tupl1

(226, 164, 161, 173, 215, 156, 145, 135, 147)

In [ ]:
Tuple2=('Rahmanullah Gurbaz (AFG)',
 'RG Sharma (IND)',
 'TM Head (AUS)',
 'Q de Kock (SA)',
 'Ibrahim Zadran (AFG)',
 'N Pooran (WI)',
 'AGS Gous (USA)',
 'JC Buttler (ENG)',
 'SA Yadav (IND)')
Tuple2

('Rahmanullah Gurbaz (AFG)',
 'RG Sharma (IND)',
 'TM Head (AUS)',
 'Q de Kock (SA)',
 'Ibrahim Zadran (AFG)',
 'N Pooran (WI)',
 'AGS Gous (USA)',
 'JC Buttler (ENG)',
 'SA Yadav (IND)')

## len (tuple) - Gives the total length of the tuple.

In [ ]:
len (Tuple1)

9

In [ ]:
len (Tuple2)

9

## max() - Returns item from the tuple with max value.

In [ ]:
max(Tuple1)

226

## min() - Returns item from the tuple with min value.

In [ ]:
min(Tuple1)

135

## zip(tuple1, tuple2) - It zips elements from two tuples into a list of tuples.

In [ ]:
zip(Tuple1,Tuple2)

## tuple.count() - Returns the number of times a specified value occurs in a tuple.

In [ ]:
Tuple1.count(164)

1

## tuple.index() - Searches the tuple for a specified value and returns the position where it was found.

In [ ]:
Tuple2.index('RG Sharma (IND)')

1